@use "@/styles/_variables" as *;

.buttonS1 :global {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background: $c-s;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.1s ease-out;

    &:hover {
      color: $c-s !important;
      border-color: $c-s !important;
    }
  }
}
