@use "@/styles/_variables" as *;

.buttons1 :global {
  a,
  button {
    height: 48px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7eaee;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #ffff;

    &.iconBtn {
      height: 44px;
      width: 44px;
    }

    &:hover {
      border-color: #f1b11d !important;
    }
  }
}

.buttonS2 :global {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background: $c-s;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.1s ease-out;

    &:hover {
      color: $c-s !important;
      border-color: $c-s !important;
    }
  }
}
