$c-p: var(--color-primary);
$c-s: var(--color-second);
$c-t: var(--color-third);
$c-f: var(--color-fourth);
$c-fth: var(--color-fifth);
$c-error: var(--color-error);
//
$color-bg-primary: var(--color-bg-primary);
$color-bg-second: var(--color-bg-second);

//
$c-f-p: var(--color-font-primary);
$c-f-s: var(--color-font-second);
$c-f-t: var(--color-font-third);
//
$f-en: var(--f-en);
$f-ar: var(--f-ar);
//
$b-p: var(--border-primary);
$b-s: var(--border-secondary);
