@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  --color-primary: #ed1c24;
  --color-second: #d1d1db;
  --color-third: #809c8d;
  --color-fourth: #ebebef;
  --color-fifth: #1a1a20;
  --color-error: #ffe9ebcc;

  --color-font-primary: #121217;
  --color-font-second: #6c6c89;

  --color-bg-primary: #f7f7f8;
  --color-bg-second: #1a1a20;

  --f-en: "Roboto", sans-serif;
  --f-ar: "IBM Plex Sans Arabic", serif;

  --border-primary: 1px solid #ebebef;
  --border-secondary: 1px solid #d1d1db;

  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Tajawal", "Cairo", "sans-serif";
  background: #f8f8f8;
  overflow-x: hidden;
}

body:lang(ar) {
  direction: rtl;
}

a,
button,
span,
small {
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  padding-right: 100px;
  padding-left: 100px;

  @include small {
    padding-right: 50px;
    padding-left: 50px;
  }

  @include extraSmall {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.page {
  padding-top: 48px;
  padding-bottom: 48px;
}

.lang-dropdown-items {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;

  li {
    padding: 0px !important;

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      border: none;
      padding: 5px 12px;

      img {
        height: 20px;
        width: 20px;
      }

      &:disabled {
        background: #ddd;
      }
    }
  }
}

.swiper {
  z-index: -2 !important;
}
