* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "var(--font-ExpoArabic)", "Cairo", "sans-serif";
  background-color: #ffff;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

button {
  background-color: transparent;
}

.container {
  padding-right: 100px;
  padding-left: 100px;
}

.page {
  padding-top: 48px;
  padding-bottom: 48px;
}

.langDropdownItems {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;

    img {
      height: 20px;
      width: 20px;
    }
  }
}
