@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.headerCategories {
  ul li {
    &:hover {
      a {
        font-weight: 500;
        color: $c-s !important;
      }
    }
  }
}

.skeleton {
  display: block !important;
  height: 100%;

  .ant-skeleton-image {
    height: 100% !important;
    width: 100% !important;
  }
}

.lang-dropdown-items {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;

  li {
    padding: 0px !important;

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      border: none;
      padding: 5px 12px;

      img {
        height: 20px;
        width: 20px;
      }

      &:disabled {
        background: #ddd;
      }
    }
  }
}

.modalLogin {
  .content {
    .head {
      text-align: center;
      margin-bottom: 45px;

      h2 {
        margin-bottom: 16px;
      }

      p {
        font-weight: 600;
        color: $c-f-s;
      }
    }

    .ant-tabs-nav {
      &::before {
        border-bottom: none;
      }

      .ant-tabs-nav-list {
        height: 45px;
        width: 100%;
        background: $c-s;
        border-radius: 6px;
        padding: 5px;
        gap: 8px;

        .ant-tabs-tab {
          flex: 1;
          justify-content: center;
          color: #fff;
          margin: 0;

          &.ant-tabs-tab-active {
            background: #fff;
            border-radius: 4px;

            .ant-tabs-tab-btn {
              color: $c-s;
            }
          }

          .ant-tabs-tab-btn:focus {
            color: $c-s;
          }
        }
      }

      .ant-tabs-ink-bar {
        display: none;
      }
    }

    form {
      .input {
        height: 36px;
        border-color: $c-s;
        border-radius: 8px;
        padding: 0px 8px;
        box-shadow: none;

        .ant-placeholder {
          color: $c-f-s;
        }
      }

      .ant-form-item-explain-error {
        margin-bottom: 10px;
      }

      .phone-input {
        direction: ltr;

        .ant-input-wrapper {
          height: 36px;
          border: 1px solid $c-s;
          border-radius: 8px;

          .ant-input-group-addon,
          .ant-input {
            height: 100%;
            border: none;
            box-shadow: none;
          }
        }
      }

      .otp-input {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        direction: ltr;

        input {
          height: 40px;
          width: 40px !important;
          font-size: 16px;
          font-weight: 600;

          &:focus {
            outline-color: $c-s;
          }
        }
      }

      .resend-otp {
        text-align: center;
        margin-bottom: 18px;

        & > div {
          color: gray !important;

          button {
            background: transparent !important;
            color: $c-s !important;
          }
        }
      }
    }

    .footer {
      .magicLinks {
        text-align: center;
        small {
          font-size: 16px;
          font-weight: 500;
          color: $c-s;
        }

        ul {
          gap: 16px;

          button {
            height: 48px;
            width: 48px;
            border: 1px solid $c-s;
            border-radius: 50%;
            transition: all 0.2s ease-out;

            &:hover {
              border-color: $c-t;
            }

            img {
              margin-top: 1px;
            }
          }
        }
      }

      button {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-top: 24px;
        color: $c-f-s;
      }
    }
  }
}
