@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.headerCategories {
  ul li {
    &:hover {
      a {
        font-weight: 500;
        color: $c-s !important;
      }
    }
  }
}

.skeleton {
  display: block !important;
  height: 100%;

  .ant-skeleton-image {
    height: 100% !important;
    width: 100% !important;
  }
}

.lang-dropdown-items {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;

  li {
    padding: 0px !important;

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      border: none;
      padding: 5px 12px;

      img {
        height: 20px;
        width: 20px;
      }

      &:disabled {
        background: #ddd;
      }
    }
  }
}

.modalLogin {
  .content {
    .head {
      text-align: center;
      margin-bottom: 45px;

      h2 {
        margin-bottom: 16px;
      }

      p {
        font-weight: 600;
        color: $c-f-s;
      }
    }

    form {
      .input {
        height: 36px;
        border-color: $c-s;
        border-radius: 8px;
        padding: 0px 8px;

        .ant-placeholder {
          color: $c-f-s;
        }
      }

      .ant-form-item-explain-error {
        margin-bottom: 10px;
      }
    }

    .footer {
      .magicLinks {
        text-align: center;
        small {
          font-size: 16px;
          font-weight: 500;
          color: $c-s;
        }

        ul {
          gap: 16px;

          button {
            height: 48px;
            width: 48px;
            border: 1px solid $c-s;
            border-radius: 50%;
            transition: all 0.2s ease-out;

            &:hover {
              border-color: #f1b11d;
            }

            img {
              margin-top: 1px;
            }
          }
        }
      }
      button {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-top: 24px;
        color: $c-f-s;
      }
    }
  }
}
