@use "@/styles/_mixins" as *;

.header :global {
  border-bottom: 1px solid #e5e7eb;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .logo {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;

        span {
          &:last-of-type {
            display: none;

            @media (min-width: 900px) {
              display: flex;
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0;

      .lang-dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 48px;
        width: 48px;
        cursor: pointer;
        border: 1px solid #e7eaee;
        border-radius: 8px;

        &:hover {
          border-color: #f1b11d;
        }

        &:active {
          background-color: #f1b11d;
        }
      }

      .cart {
        a {
          height: 48px;
          width: 48px;
        }
      }

      .menuBtn {
        display: none;
      }

      @include small {
        gap: 16px;

        .cart,
        .auth {
          display: none;
        }

        .menuBtn {
          display: block;
        }
      }
    }
  }

  .categories {
    position: relative;

    .categories-trigger:hover ~ .categories-menu,
    .categories-trigger:hover ~ .overlay,
    .categories-menu:hover,
    .categories-menu:hover ~ .overlay {
      display: block;
    }

    .categories-trigger {
      display: flex;
      align-items: center;
      gap: 14px;
      font-family: var(--font-ExpoArabic);
      border: none;
    }

    .overlay {
      display: none;
      position: fixed;
      inset: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
    }

    .categories-menu {
      display: none;
      min-height: 426px;
      width: 100%;
      position: absolute;
      right: 0;
      z-index: 10;
      background: #fff;
      padding: 14px;

      ul {
        li {
          margin-bottom: 4px;

          a {
            font-weight: 500;
            color: #000;

            &:hover {
              font-weight: 600;
            }
          }
        }

        &.subCategories {
          li {
            color: #484e51;
          }
        }
      }
    }

    @include small {
      display: none;
    }
  }
}

.mainDrawer :global {
  top: 85px !important;

  .ant-drawer-content-wrapper {
    box-shadow: none !important;

    .ant-drawer-body {
      padding: 0 !important;

      .user {
        .avatar {
          background-color: #f5d893;
          width: 54px;
          height: 54px;
          font-size: 24px;

          .info {
            max-width: 100%;
            margin-right: 8px;

            .username {
              font-weight: 500;
              font-size: 16px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              direction: ltr;
            }

            .email {
              font-weight: 300;
              font-size: 14px;
              text-align: end;
              direction: ltr;
            }
          }
        }
      }

      .divider {
        height: 8px;
        width: 100%;
        background-color: #f6f7f9;
      }

      .links,
      .auth {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 20px;
        gap: 5px;

        &:last-of-type {
          margin-top: 30px;
        }

        a,
        button {
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #e7eaee;
          border-radius: 4px;
          width: 100%;
          height: auto;

          .content {
            display: flex;
            align-items: center;

            span {
              font-size: 16px;
              font-weight: 500;
              color: #1a1c1d;
              margin-right: 15px;
            }
          }

          svg {
            color: #000;
          }
        }
      }

      .auth {
        .logoutBtn {
          border: 1px solid #e7eaee;
          border-radius: 4px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .nav-button-content {
            display: flex;
            align-items: center;
          }

          .auth-label {
            font-size: 16px;
            font-weight: 500;
            color: #484e51;
            margin-right: 15px;
          }
        }
      }
    }
  }
}
