.header :global {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 85px;
    background-color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;

    .logo {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;

        span {
          &:last-of-type {
            display: none;

            @media (min-width: 900px) {
              display: flex;
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0;

      .langDropdown {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
      }

      .cart {
        display: none;

        @media (min-width: 900px) {
          display: block;

          a {
            height: 48px;
            width: 48px;
          }
        }
      }

      .menuBtn {
        display: block;

        @media (min-width: 900px) {
          display: none;
        }
      }

      .auth {
        display: none;

        @media (min-width: 900px) {
          display: block;
        }
      }

      @media (min-width: 900px) {
        gap: 16px;
      }
    }
  }

  .categories {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px 20px;
    background: #fcfcfd;
    padding-top: 16px;
    padding-bottom: 16px;

    .a {
      font-family: var(--font-ExpoArabic);
      border-radius: 8px;
      font-weight: 300;
      color: #484e51;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.mainDrawer :global {
  top: 85px !important;

  .ant-drawer-content-wrapper {
    box-shadow: none !important;

    .ant-drawer-body {
      padding: 0 !important;

      .user {
        .avatar {
          background-color: #f5d893;
          width: 54px;
          height: 54px;
          font-size: 24px;

          .info {
            max-width: 100%;
            margin-right: 8px;

            .username {
              font-weight: 500;
              font-size: 16px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              direction: ltr;
            }

            .email {
              font-weight: 300;
              font-size: 14px;
              text-align: end;
              direction: ltr;
            }
          }
        }
      }

      .divider {
        height: 8px;
        width: 100%;
        background-color: #f6f7f9;
      }

      .links,
      .auth {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 20px;
        gap: 5px;

        &:last-of-type {
          margin-top: 30px;
        }

        a,
        button {
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #e7eaee;
          border-radius: 4px;
          width: 100%;
          height: auto;

          .content {
            display: flex;
            align-items: center;

            span {
              font-size: 16px;
              font-weight: 500;
              color: #1a1c1d;
              margin-right: 15px;
            }
          }

          svg {
            color: #000;
          }
        }
      }

      .auth {
        .logoutBtn {
          border: 1px solid #e7eaee;
          border-radius: 4px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .nav-button-content {
            display: flex;
            align-items: center;
          }

          .auth-label {
            font-size: 16px;
            font-weight: 500;
            color: #484e51;
            margin-right: 15px;
          }
        }
      }
    }
  }
}
