@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.footer :global {
  background-color: $c-s;
  padding-top: 71px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 85px;
    margin-bottom: 40px;
    border-bottom: 1px solid #4b1e66;

    .logo {
      display: flex;
      flex-direction: column;
      height: 118px;
      width: 190px;
      a {
        display: block;
        height: 100%;
        position: relative;
      }
    }

    .links,
    .categories {
      h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 24px;
        color: #fff;
        text-align: right;
      }

      ul {
        li {
          margin-bottom: 18px;

          a {
            font-size: 16px;
            font-weight: 300;
            color: #fff;
            text-align: right;
            display: block;
          }
        }
      }

      @media (min-width: 1200px) {
        flex-direction: row;
      }
    }

    .categories {
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px 16px;
      }

      @include large {
        ul {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    .social-media {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(48px, auto));
      gap: 10px;
      max-width: calc(48px * 3 + 10px * 2); // 3 icons + 2 gaps

      li {
        display: flex;

        a {
          display: block;
          height: 48px;
          width: 48px;

          border: 1px solid #4b1e66;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 48px;
          width: 48px;
          background-color: #341547;

          &:hover {
            background-color: #4b1e66;
          }

          img {
            display: block;
          }
        }
      }
    }
  }

  .payment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-bottom: 85px;
    margin-bottom: 40px;
    border-bottom: 1px solid #4b1e66;

    .details {
      display: flex;
      flex-direction: column;

      .text-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;

        span {
          font-size: 16px;
          font-weight: 500;
          color: #fff;

          &:last-of-type {
            margin-right: 37px;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border: 1px solid #4b1e66;
        padding: 7px 19px;
        border-radius: 12px;
        min-width: 505px;
        height: 56px;
      }
    }

    .logos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @media (min-width: 1200px) {
        flex-direction: row;
      }
    }
  }

  .copyright {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-right: 37px;
    text-align: center;
  }

  @include medium {
    padding-top: 36px;
    padding-bottom: 20px;

    .content,
    .payment-info {
      padding-bottom: 45px;
      margin-bottom: 20px;
    }
  }

  @include small {
    display: none;
  }
}
