.buttons1 :global {
  a,
  button {
    height: 48px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7eaee;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &.iconBtn {
      height: 44px;
      width: 44px;
    }

    &:hover {
      border-color: #f1b11d;
      background-color: #ffff;
    }

    &:active {
      background-color: #f1b11d;
    }

    &:active * {
      color: #ffff;
      stroke: #ffff;
    }
  }
}
