@use "@/styles/_mixins" as *;
@import "@/styles/_variables";

.productComponent :global {
  .productSection {
    background: #fff;
    padding: 32px;

    .productSliderWrapper {
      min-height: 100%;
      display: flex;
      gap: 20px;

      .productSlider {
        height: 400px;
        flex: 1;

        .swiper-slide {
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;

          .img {
            height: 100%;
            width: 100%;
            position: relative;
          }
        }

        .swiper-button-disabled {
          background: transparent;
          border: none;
        }
      }

      .productSliderThumbs {
        width: 80px;

        .swiper-wrapper {
          flex-direction: column;

          .swiper-slide {
            height: 80px;
            width: 100% !important;
            border: 1px solid $c-t;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 0 !important;

            img {
              padding: 4px;
            }

            &:not(:last-of-type) {
              margin-bottom: 10px;
            }
          }

          .swiper-slide-thumb-active {
            border-color: $c-s;
          }
        }
      }

      @media (max-width: 620px) {
        flex-direction: column-reverse;
        gap: 32px;

        .productSlider {
          height: 300px;
          width: 100%;
          flex: auto;
        }

        .productSliderThumbs {
          width: 100%;

          .swiper-wrapper {
            flex-direction: row;
            gap: 10px;

            .swiper-slide {
              width: 80px !important;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .productData {
      max-width: 450px;

      .divider {
        height: 1px;
        background: #e7eaee;
        margin: 30px 0px;
      }

      h2 {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #484e51;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
      }

      .price {
        margin-bottom: 15px;

        .old-price {
          gap: 2px;
          font-size: 18px;
          color: #b0b0b0;
          margin-bottom: 8px;

          span {
            text-decoration: line-through;
          }
        }

        .current-price {
          gap: 2px;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 0.55px;
          color: $c-s;
        }
      }

      .size {
        h3 {
          font-weight: 500;
          color: $c-f-s;
          margin-bottom: 10px;
        }

        .sizes {
          gap: 8px;

          label {
            width: fit-content;
            height: auto;
            flex: none !important;
            border: 1px solid #e7eaee;
            padding: 8px;
            border-radius: 4px;
            color: #1c2025;
            text-align: start;
            line-height: 1.5;

            .size-price {
              gap: 2px;
              justify-content: start;
              color: $c-f-p;
            }

            &.ant-radio-button-wrapper-checked {
              border-color: $c-s;
            }
          }
        }
      }

      .AddToCartSection {
        gap: 24px;

        .quantityBtns {
          height: 48px;
          border: 1px solid #e7eaee;
          border-radius: 8px;
          padding: 8px 6px;
          gap: 4px;
          transition: all 0.1s ease-out;

          button {
            height: 32px;
            width: 32px;
            box-shadow: none;
            padding: 0px;
            border: 1px solid transparent;
            border-radius: 8px;
            background: #f6f7f9;
            color: #1c2025 !important;

            &:hover {
              border-color: $c-s;
            }
          }

          .quantity {
            width: 64px;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.375;
            color: #1c2025;
            border: none;
            border-radius: 8px;
            outline: 0;
            text-align: center;
          }

          &:hover {
            border-color: $c-t;
          }
        }

        & > div:last-child {
          align-self: stretch;
          flex: 1;

          button {
            height: 100%;
          }
        }
      }

      @include small {
        max-width: 100%;

        .AddToCartSection div:not(.quantityBtns) button {
          max-width: 300px;
        }
      }

      @include extraSmall {
        .AddToCartSection {
          flex-direction: column;

          & > div:last-child button {
            height: 48px;
          }
        }
      }
    }

    @include extraSmall {
      padding: 16px;
    }
  }

  .productDescriptionSpicificationSection {
    background: #fff;
    padding: 16px;
    margin: 24px 0px;

    .tabs .ant-tabs-nav {
      &::before {
        display: none;
      }

      .ant-tabs-tab {
        .ant-tabs-tab-btn {
          padding: 0px 8px;

          &:hover {
            color: $c-t;
          }
        }

        &.ant-tabs-tab-active .ant-tabs-tab-btn {
          color: $c-s;
        }
      }

      .ant-tabs-ink-bar {
        background: $c-s;
      }
    }

    .noDescription {
      font-size: 16px;
      font-weight: 500;
      padding: 16px;
    }
  }
}
